/* 1 Universal Styles */
/* 2 Nav Bar Styles */
/* 3 Header Styles */
/* 4 About Me Styles */
/* 5 Skills styles */
/* 6 Projects Styles */
/* 7 Contact Styles */
/* 8 Footer Styles */

/* 1 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Sawarabi Gothic', sans-serif;
    /* background-color: rgb(213, 226, 217); */
    color: rgba(36, 33, 33, 0.9);
    letter-spacing: .15rem;
    background: linear-gradient(0.25turn, rgb(213, 226, 217), #ebf8e1, rgb(165, 194, 163));
}

h2{
    text-align: center;
    padding: 2rem;
}


/* 2 */
#logo{
    opacity: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4rem;
    /* background-color: rgb(213, 226, 217); */
    background: linear-gradient(0.25turn, rgb(213, 226, 217), #ebf8e1, rgb(165, 194, 163));

}

nav a:visited{
    color: rgba(36, 33, 33, 0.9);
}

nav a:hover{
    font-weight: 800;
    /* text-shadow: 0 0 3px black, 0 0 6px rgb(250, 235, 215); */
    transition: 200ms ease-in-out;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 35%;   
}

.nav-links li{
    list-style: none;
    font-size: 1.5rem;
}

.nav-links a{
    text-decoration: none;
    letter-spacing: 0.1 5rem;
    padding-bottom: 1rem;
}

.nav-links a:hover{
    border-bottom: 0.4rem solid rgb(223, 205, 63);
}

.burger{
    display: none;
    cursor: pointer;
    border-radius: 10%;
    
} 

.burger:hover{
    box-shadow: 0 0 3px black, 0 0 6px rgb(250, 235, 215);
    transition: 250ms ease;
}

.burger div{
    height: 4px;
    width: 25px;
    background-color: rgb(25, 24, 22);
    margin: 5px;
    border-radius: 20%;
}

@media screen and (max-width: 1200px) {
    .nav-links{
        width: 50%;
    }
    
}

@media screen and (max-width: 800px){
    body{
        overflow-x: hidden;
    }
    
    .nav-links{
        position: absolute;
        top: 8vh;
        right: 0px;
        height: 65vh;
        background: linear-gradient(0.25turn, rgb(213, 226, 217), #ebf8e1, rgb(165, 194, 163));
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 500ms ease-in;
    }    

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }
}

.nav-active{
    transform: translate(0%);
}


@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* 3 */

.header{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 20%;
    margin: 10%;
    background-color: aliceblue;
    border-radius: 1.5rem;
    padding: 1rem;
    min-width: 375px;
    box-shadow: 0 0 10px rgba(41, 53, 36, 0.9);
}

/* .header:hover{
    background: linear-gradient(0.25turn, rgb(54, 68, 58), #4d5149, rgb(34, 39, 33));;
    color: whitesmoke;
    
} */



.header h1, h2{
    font-size: 2.5rem;
}

.header h3{
    font-size: 2rem;
    font-weight: 600;
    padding: .25rem;
}

.counter{
    display: flex;
    justify-content: space-around;
}


span{
    transition: all 300ms ease;
}

span .fade{
    color: rgb(1, 60, 16);
    font-size: 3rem;
    font-weight: 800;
    
}

@media screen and (max-width: 800px) {
    /* .header h1, h2, h3, h4, span{
        font-size: 90%;
    } */
    
}

@media only screen and (max-width: 500px){
    .header{
        margin: 8rem 1rem;
        min-width: 300px;
    }
}

/* 4 */

.about{
    display: flex;
    justify-content: space-evenly;
    margin: .5rem;
    
}
.about-container{
    background-color: rgba(223, 205, 63, 0.8);
    width: 40%;
    padding: 1rem;
    border: 8px solid aliceblue;
    border-radius: 24px;
    margin: 8px;
    box-shadow: 0 0 10px rgba(41, 53, 36, 0.9);
    
}

.selfie-container{
    width: 40%;
    margin: 8px;
    
    
    
}

img.selfie{
    max-width: 100%;
    border: 8px solid aliceblue;
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(41, 53, 36, 0.9);
    
    
}

@media only screen and (max-width: 800px){
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-container{
        width: 75%;
        margin-bottom: 2rem;
    }
    .selfie-container{
        width: 75%;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 480px){
    .about-container {
        width: 95%;
    }
    .selfie-container{
        width: 95%;

    }
}

/* 5 */

.skill-section{
    display: flex;
    background: none;
    justify-content: space-around;
    margin: 1rem;
    padding: 3rem;

}

.skills{
    width: 5rem;
    height: 5rem;
    background: none;
   
   
    
    
}
.skills svg{
    max-width: 5rem;
}

@media only screen and (max-width: 800px) {
    .skill-section{
        display: flex;
        flex-wrap: wrap;
    }
    
    .skills svg{
        min-width: 4rem;
        margin: 1rem;
        
    }
}

/* 6 */





/* 7 */

.contact-section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.contact-container{
    max-width: 700px;
    height: 60vh;
    width: 100%;
    background-color: aliceblue;
    padding: 1rem 3rem;
    border: 8px solid aliceblue;
    border-radius: 24px;
    box-shadow: 0 0 10px rgba(41, 53, 36, 0.9);

}

.contact-container .contact-me{
    font-size: 2rem;
    font-weight: 700;
}

.contact-me p{
    font-size: 1rem;
    font-weight: 500px;
    text-align: center;
    padding-bottom: 1rem;
}

.contact-container form .user-detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-detail .input-box{
    width: calc(100% / 2 - 20px);
    margin: 20px 0px 12px 0px;
}

.user-detail .input-box .details{
    display: block;
    margin-bottom: 5px;
    font-weight: 500;

}

.user-detail .input-box input{
    height: 3rem;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgba(41, 53, 36, 0.9);
    padding-left: .5rem;
    border-bottom-width: 3px;
    transition: all 300ms ease;
}

.user-detail .input-box input:focus,
.user-detail .input-box input:valid{
    border-color:  rgba(41, 53, 36, 0.9);
    border-bottom-width: 2px;
    border-right-width: 2px;
}

.user-detail .textarea {
    width: 100%;
    height: 6rem;
}

.user-detail .textarea .message{
    margin-top: 1rem;
    font-weight: 500;
}

.textarea textarea{
    width: 100%;
    min-height: 6rem;
    border-color:  rgba(41, 53, 36, 0.9);
    border-bottom-width: 2px;
    border-right-width: 2px;
    outline: none;
    padding: .5rem;
    border-radius: 5px;
    margin-top: .5rem;
    margin-bottom: 1rem;
}
form .submit{
    width: 100%;
    height: 2rem;
    margin-top: 4rem;
}

input[type="submit" i] {
    width: 100%;
    background-color: pink;
    height: 2.5rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    background: linear-gradient(0.25turn, rgb(213, 226, 217), #ebf8e1, rgb(165, 194, 163));
}

input[type="submit" i]:hover {
    background: linear-gradient(-0.25turn, rgb(213, 226, 217), #ebf8e1, rgb(165, 194, 163));
    cursor: pointer;
}














@media only screen and (max-width: 584px){
    .contact-container{
        max-width: 90%; 
        border: 8px solid aliceblue;
        border-radius: 24px;
        box-shadow: 0 0 10px rgba(41, 53, 36, 0.9);
    }
    form .user-detail .input-box{
        width: 100%;
        margin-bottom: 1rem;
    }
    .contact-container form .user-detail{
       max-height: 400px;
       overflow-y: scroll;
    }
}

/* 8 */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

footer h4, h5{
    padding-top: 1rem;

}

footer h5{
    padding-bottom: 3rem;
}

@media only screen and (max-width: 430px){
    footer h4, h5{
        font-size: 80%;
    }
}